$default_font: "Raleway", sans-serif;
$base-font-size: 1em;

$base-color: #161718;
$secondary-color: #dddddd;

$white: #E9F0E1;

// $green-light: #138A72;
$base-color-light: lighten($base-color, 10%);
// $green-dark: #66990E;
$base-color-dark: darken($base-color, 10%);

$blue-fb: #3B5998;
